@use 'config' as *;

#start {
  background-color: $secondaryColor;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  max-width: 1200px;
  margin: auto;
}

#start h1 {
  font-size: 20px;
  margin: 0;
  padding: 10px;
}

#start nav ul {
  display: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#start nav li {
  padding: 0;
}

#start nav button {
  border: 0;
  padding: 0;
  width: 48px;
  height: 48px;
  font-size: 24px;
  margin: 10px;
}

#start nav a {
  color: $primaryColor;
}

#start nav a:hover {
  text-decoration: none;
}

@media (min-width: $breakpoint) {
  #start nav button {
    display: none;
  }

  #start nav ul {
    display: flex;
  }

  #start nav li {
    padding: 10px;
  }
}

#menu.visible {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  background: $secondaryColor;
  width: 100%;
  border-bottom: 2px solid $primaryColor;
}

#menu.visible a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 48px;
  padding-left: 10px;
  font-size: 18px;
  border-top: 1px solid $ternaryColor;
}

main, body > footer {
  max-width: 1200px;
  margin: auto;
}
