@use 'config' as *;

.info {
  @media (min-width: $breakpoint) {

    width: 520px;

    display: flex;
    flex-direction: column;
  }

  &__header {


    @media (min-width: $breakpoint) {

      border-bottom: 1px solid $secondaryColor;

    }

    font-size: 1rem;
    border-bottom: 1px solid $primaryColor;

  }

  &__contact {
    @media (min-width: $breakpoint) {
      position: relative;
      background: linear-gradient(to right, $primaryColor 0 100%, $secondaryColor 35% 100%);
      color: $secondaryColor;
      padding: 20px 0 20px 20px;

    }
    padding: 20px;

    &-address {
      @media (min-width: $breakpoint) {
        color: $secondaryColor;
      }
      font-style: normal;
      color: $primaryColor;
      &-list {

        margin: 0;
        padding: 0;
        list-style: none;

        &-item {


          &-label {
            font-size: 1rem;
            margin: 20px 0 0 0;
          }

          &-value {

            display: flex;
            flex-direction: row;

            ul {
              @media (min-width: $breakpoint) {
                margin-left: 20px;

              }
              list-style: none;
              margin: 0;
              padding: 0;

            }

            &:before {
              @media (min-width: $breakpoint) {
                background: $secondaryColor;
                display: block;
                width: 0;
                height: 0;

              }

              margin-right: 10px;
              content: '';
              display: block;
              width: 20px;
              height: 20px;
              background: $primaryColor;
            }

            &--phone {
              @media (min-width: $breakpoint) {
                color: $secondaryColor;
                margin-left: -10px;
              }

              &:before {
                mask-image: url('/dist/img/icons/phone.svg');
                -webkit-mask-image: url('/dist/img/icons/phone.svg');
              }

            }
            &--phone2 {
              @media (min-width: $breakpoint) {
                color: $primaryColor;
                margin-left: -10px;
              }

              &:before {
                mask-image: url('/dist/img/icons/phone.svg');
                -webkit-mask-image: url('/dist/img/icons/phone.svg');
              }

            }
            &--email {
              @media (min-width: $breakpoint) {
                margin-left: -10px;
                color: $secondaryColor

              }

              &:before {

                mask-image: url('/dist/img/icons/email.svg');
                -webkit-mask-image: url('/dist/img/icons/email.svg');

              }

            }
            &--email2 {
              @media (min-width: $breakpoint) {
                margin-left: -10px;
                color: $primaryColor

              }

              &:before {

                mask-image: url('/dist/img/icons/email.svg');
                -webkit-mask-image: url('/dist/img/icons/email.svg');

              }

            }

            &--address {
              @media (min-width: $breakpoint) {
                margin-left: -30px;
                color: $secondaryColor
              }

              &:before {

                mask-image: url('/dist/img/icons/map-marker.svg');
                -webkit-mask-image: url('/dist/img/icons/map-marker.svg');
              }

            }
          }
        }
      }
    }
  }

  &__education {
    @media (min-width: $breakpoint) {
      position: relative;
      background: linear-gradient(to right, $primaryColor 0 100%, $secondaryColor 35% 100%);
      color: $secondaryColor;
      padding: 20px 0 20px 20px;

    }
    padding: 20px;
  }

  &__education-second {

    margin-left: -45px;
    list-style: none;
    padding: 5px;
  }

  &__education-list {

    list-style: none;

  }

  &__expertise {
    @media (min-width: $breakpoint) {
      position: relative;
      background: linear-gradient(to right, $primaryColor 0 100%, $secondaryColor 35% 100%);
      color: $secondaryColor;
      padding: 20px 0 20px 20px;

    }
    padding: 20px;
  }

  &__expertise-list {

    margin-left: - 20px;
  }

  &__languages {
    @media (min-width: $breakpoint) {
      position: relative;
      background: linear-gradient(to right, $primaryColor 0 100%, $secondaryColor 35% 100%);
      color: $secondaryColor;
      padding: 20px 0 20px 20px;
    }

    padding: 20px;

  }

  &__languages-list {
    @media (min-width: $breakpoint) {
  list-style: none;
    margin-left: -40px;
    color: $secondaryColor;
  }
    margin-left: -20px;
    color: $primaryColor;
  }
  &__references-list {
    @media (min-width: $breakpoint) {
      list-style: none;
      color: $primaryColor;
      margin-left: -40px;
    }
    margin-left: -40px;
    color: $primaryColor;
  }
  &__header2 {
    border-bottom: 1px solid $primaryColor;
    margin-bottom: 20px;
  }

  &__experience {
    @media (min-width: $breakpoint) {

      margin-top: 40px;
      color: $primaryColor;
      width: 780px;


    }

    padding-left: 20px;

  }

  &__experience-list {
    @media (min-width: $breakpoint) {

      list-style: none;
    margin: 5px 5px 0 5px;
    }

    margin: 40px 0 0 -20px;
  }
  &__experience__item {
    @media (min-width: $breakpoint) {
      display: flex;
      flex-direction: column;
      border-left: 1px solid $primaryColor;
      list-style: none;
      margin-left: -40px;

    }
    &:before {
      @media (min-width: $breakpoint) {

        display: block;
        width: 10px;
        height: 10px;
        background: $secondaryColor;
        border: 2px solid $primaryColor;
        margin-left: -8px;
        border-radius: 50%;
        margin-top: 0;


      }

      content: '';
      display: block;
      width: 0;
      height: 0;
      background: $primaryColor;

    }

  }

  &__reference {
    @media (min-width: $breakpoint) {
      color: $primaryColor;
      position: relative;
      margin: 101px 0 0 0;
      display: flex;
      flex-direction: column;

    }

    padding: 20px;

  }
  &__reference2 {
    @media (min-width: $breakpoint) {
      color: $primaryColor;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly

    }



  }


  &__reference-company {

    font-weight: normal;
    font-size: 1rem;

  }

  &__footer {

    @media (min-width: $breakpoint) {

      margin: auto;


    }
    margin-left: 20px;
    font-weight: normal;
    font-size: 1rem;


  }
  &__experience-h2 {
    @media (min-width: $breakpoint) {


     margin-left: 20px;
    }

    margin: -20px 0 30px 0;
  }
}
.main {
  @media (min-width: $breakpoint) {

    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;

  }
padding: 0;
}
